{% extends 'admin/base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <ul>
        <li>
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'name_field'}}) }}
            <small>{{ form_help(form.name) }}</small>
            <div class="form_error">{{ form_errors(form.name) }}</div>
        </li>
        <li><input type="submit" value="Valider"></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}