{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


{% block body %}

    <form action="{{ path('home.index') }}" method="post">
        <label for="degree">Formation</label>
        <select id="degree" name="degree">
            <option value="">Toutes les formations</option>
            {% for degree in degrees %}
                <option value="{{ degree.id }}">{{ degree.name }}</option>
            {% endfor %}
        </select>

        <label for="year">Formation</label>
        <select id="year" name="year">
            <option value="">Toutes les années</option>
            {% for year in years %}
                <option value="{{ year.id }}">{{ year.title }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Rechercher">

        <section id="search-results">
            {% if results is defined %}
                <ul>
                    {% for user in results %}
                        <li>
                            <a href="{{ path('alumni.index', {"id": user.id, "slug": user.slug}) }}">
                                {{ user.lastname }} {{ user.firstname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
{#                {{ dump(results) }}#}
            {% endif %}
        </section>
    </form>
{% endblock %}

